.marte{
    background-color: red;
}
.venus{
        background-color: aqua;
    }
.saturno{
        background-color: yellow ;
    }
.jupiter{
        background-color: purple ;
    }
.pluton{
        background-color: blue ;
    }